# Ignore all
*

# Unignore all with extensions
!*.*

# Unigore all dirs
!*/

# Builded objects
build/
*.d
*.o
*.a
*.so
*.dll
*.out
*.bin
*.log
.build

# Utils
node_modules/
package-lock.json
*.mp4
*.mp3
*.anim
Utils/*.txt
!/bad.mp3
!/bad.anim

# ImGui
imgui.ini

# Unit tests files
*.gcda
*.gcno

# IDE related folders
.idea/
.vscode/

# Unignore Makefile
!Makefile

# Unignore AUTHORS
!AUTHORS
