# Ignore all
*

# Unignore all with extensions
!*.*

# Unigore all dirs
!*/

# Builded objects
build/
*.d
*.o
*.a
*.so
*.dll
*.out
.build

# NTS file
*.nts

# ImGui
imgui.ini

# Unit tests files
*.gcda
*.gcno

# IDE related folders
.idea/
.vscode/

# Ignore root tests files
/*.cpp
/*.hpp
/*.inl
/*.h
/*.c

# Unignore Makefile
!Makefile

# Unignore AUTHORS
!AUTHORS
